      <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
      <style>
         body {
         color: #444;
         }
         label {
         font-family: 'Impact';
         color: #666;
         font-size: 18px;
         cursor: pointer;
         padding: 0.8em 1em 0.8em 0;
         }
         label:hover {
         color: purple;
         }
         label:hover:before {
         background: #ff6cff;
         }
         label:before {
         font-family: 'Impact';
         text-align: center;
         content: counter(li);
         border: 10px solid purple;
         border-radius: 40px;
         display: inline-block;
         width: 40px;
         height: 40px;
         line-height: 40px;
         font-size: 24px;
         margin: 0 0.5em 0 0;
         background: white;
         color: purple;
         }
         .css-accordion {
         list-style-type: none;
         counter-reset: li;
         padding: 20px;
         margin: 20px;
         width: inherit;
         border: 1px solid #dddddd;
         background: #f4f4f4
         repeat top left;
         /*---- End .accordion-item ----*/
         }
         .css-accordion .accordion-item {
         counter-increment: li;
         padding: 0;
         margin: 0;
         }
         .css-accordion .accordion-item .item-content-container {
         border-left: 10px solid purple;
         padding: 6px 0;
         margin: -2px 0 -2px 25px;
         }
         .css-accordion .accordion-item .item-content-container .item-content {
         background: #eee;
         padding: 0 1em;
         overflow: hidden;
         margin: 0 0 0 36px;
         border-radius: 2px;
         box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(255, 255, 255, 0.9);
         }
         .css-accordion .accordion-item .item-content-container .item-content p {
         margin: 0.5em 0;
         font-size: 14px;
         text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
         }
         .css-accordion .accordion-item input[type=radio] {
         display: none;
         /*---- End &:checked ----*/
         }
         .css-accordion .accordion-item input[type=radio] ~ .item-content-container {
         overflow: hidden;
         }
         .css-accordion .accordion-item input[type=radio] ~ .item-content-container .item-content {
         height: 0;
         transition: all 0.3s linear;
         }
         .css-accordion .accordion-item input[type=radio]:checked ~ .item-content-container {
         height: auto;
         overflow: visible;
         }
         .css-accordion .accordion-item input[type=radio]:checked ~ .item-content-container .item-content {
         height: 200px;
         overflow-y: auto;
         transition: all 0.5s linear;
         }
         .css-accordion .accordion-item input[type=radio]:checked + label {
         color: purple;
         }
         .css-accordion .accordion-item input[type=radio]:checked + label:before {
         background: #ffb3ff;
         }
      </style>

{{ header }}{{ column_left }}
      <div id="content">
      <div class="page-header">
        <div class="container-fluid">
          <div class="pull-right">
            <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
            <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
          <h1>{{ heading_title }}</h1>
          <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
          </div>
          <div class="panel-body">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
              <div class="form-group">
                <a class="col-sm-2 control-label" for="input-status">{{ entry_status }}</a>
                <div class="col-sm-10">
                  <select name="module_divido_calculator_status" id="input-status" class="form-control">
                    {% if module_divido_calculator_status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                   {% endif %}
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <ol class="css-accordion user-journey">
         <li class="accordion-item stage-1">
            <input type="radio" name="accordion-control" id="stage-1-control" checked="">
            <label for="stage-1-control">Categories</label>
            <div class="item-content-container">
               <div class="item-content">
                  <p>Some exciting content about our general practices, etc. First Accordion</p>
               </div>
            </div>
         </li>
         <li class="accordion-item stage-2">
            <input type="radio" name="accordion-control" id="stage-2-control">
            <label for="stage-2-control">New Post</label>
            <div class="item-content-container">
               <div class="item-content">
                  <p>Some exciting content about our general practices, etc.</p>
                  <p>Some exciting content about our general practices, etc.</p>
                  <p>Some exciting content about our general practices, etc.</p>
                  <p>Some exciting content about our general practices, etc.</p>
               </div>
            </div>
         </li>
         <li class="accordion-item stage-3">
            <input type="radio" name="accordion-control" id="stage-3-control">
            <label for="stage-3-control">Featured Posts</label>
            <div class="item-content-container">
               <div class="item-content">
                  <p>Some exciting content about our general practices, etc.</p>
               </div>
            </div>
         </li>
         <li class="accordion-item stage-4">
            <input type="radio" name="accordion-control" id="stage-4-control">
            <label for="stage-4-control">Archive</label>
            <div class="item-content-container">
               <div class="item-content">
                  <p>Some exciting content about our general practices, etc.</p>
               </div>
            </div>
         </li>
      </ol>
      </div>
{{ footer }}
